services:
  cups:
    image: docker.1ms.run/anujdatar/cups:latest
    user: root
    environment:
      - CUPSADMIN=${CUPSADMIN}
      - CUPSPASSWORD=${CUPSPASSWORD}
    ports:
      - "631:631"
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - ./.etc:/etc/cups
    restart: unless-stopped
  web:
    image: docker.1ms.run/baggio1024/cups-web:latest
    user: root
    environment:
      - SESSION_HASH_KEY=${SESSION_HASH_KEY}
      - SESSION_BLOCK_KEY=${SESSION_BLOCK_KEY}
      - SESSION_SECURE=${SESSION_SECURE}
      - CUPS_HOST=10.10.10.1:631
    volumes:
      - ./.data:/data
      - ./.uploads:/uploads
    ports:
      - "8080:8080"
    depends_on:
      - cups
    restart: unless-stopped
