@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

/* small helper */
.preview-container {
  min-height: 320px;
  border: 1px dashed rgba(0,0,0,0.08);
  background: rgba(255,255,255,0.6);
}
